{% extends "outline.html" %}

{% load static %}

{% block body %}
  <div>
  {% for gebeurtenis in gebeurtenissen %}
    <div class="gebeurtenis {{ gebeurtenis.get_omvang | lower }}">
      <div class="meta-data">
        <div class="datum-en-locatie">
          <span class="datum">{{ gebeurtenis.datum | date:"d-m-Y" }}</span>
          te
          <span class="locatie">{{ gebeurtenis.locatie }}</span>
        </div>
        <div class="slachtofferaantal-en-oorzaak">
          <span class="slachtofferaantal">{{ gebeurtenis.get_slachtofferbeschrijving }}</span>
          wegens
          <span class="oorzaak">{{ gebeurtenis.oorzaak }}</span>
        </div>
      </div>
      <div class="icons">
        {% for afbeelding in gebeurtenis.get_afbeeldingenreeks %}
          <img src="{% get_static_prefix %}img/{{afbeelding}}" alt="test" />
        {% endfor %}
      </div>
    </div>
  {% endfor %}
    <div class="icons-license">
      Icons made by
        <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a>
      from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
  </div>
{% endblock %}
