{% extends "outline.html" %}

{% load static %}

{% block head %}
  <meta http-equiv="refresh" content="30">
{% endblock %}

{% block body %}
  <div class="infopage">
    <p>
      Bedankt! Uw melding is succesvol binnengekomen. Deze melding zal wel eerst gecontroleerd worden, voordat hij op de homepage verschijnt. Normaliter neemt dit niet meer dan 24 uur in beslag.
    </p>
    <br />
    <br />
    <p>
      Met vriendelijke groet,
    </p>
    <br />
    <p>
      Marc van stalbrand.nl
    </p>
  </div>
{% endblock %}
