{% extends "outline.html" %}

{% load static %}

{% block body %}
  <div class="infopage">
    <p>
      Beste bezoeker,
    </p>
    <br />
    <p>
      Houdt u de tel nog bij? Zo goed als elke maand is er wel ergens een boerderij waar tienduizenden kippen omkomen bij een stalbrand of waar honderden varkens het leven moeten laten door uitgevallen ventilatie. Deze calamiteiten zijn inmiddels zo "gewoon" geworden, dat ze hooguit nog een voetnoot in het nieuws zijn.
    </p>
    <p>
      Deze website is met name bedoeld voor het creëren van bewustwording rondom dit grote probleem. De trend moet gekeerd worden! Er is helaas niet één makkelijke oplossing. Die oplossing moet namelijk uit meerdere richtingen komen.
    </p>
    <p>
      De afgelopen jaren zijn er in korte tijd veel grotere megastallen bijgekomen. Kleinere veehouderijen kunnen nauwelijks opboksen tegen deze grote bedrijven en worden langzaam weggeconcurreerd. Dit is een direct gevolg van politiek beleid dat heeft ingezet op steeds grotere stallen.
    </p>
    <p>
      Maar ook wij als consument gaan niet vrijuit. We staan tegenwoordig zo ver af van de oorsprong van ons voedsel, dat we niet doorhebben dat wij deze situatie mede in stand houden. We zijn nauwelijks in staat of bereid om een eerlijke prijs te betalen voor ons vlees, dat nog niet eens zo lang geleden een luxeproduct was. Dit heeft als gevolg dat veehouders zich gedwongen voelen steeds "efficiënter" te gaan werken. Dierenwelzijn staat altijd op de tweede plaats.
    </p>
    <p>
      Het zou natuurlijk het beste zijn als we allemaal minder vlees en zuivelproducten zouden nuttigen. Dat is een win-win-win voor dier, mens én milieu. Het gebruik van deze dierlijke producten is echter zo nauw verweven met onze cultuur, dat de komende jaren alleen kleine stappen te verwachten zijn.
    </p>
    <p>
      Ondersteunt u de missie van deze site? Dan kunt u op verschillende manieren helpen. Bent u op de hoogte van een stalbrand of andere calamiteit die niet op deze website staat? Maak hiervan dan een melding op deze site. Ook kunt u dierlijk leed besparen door zo bewust mogelijk boodschappen te doen.
    </p>
    <p>
      Hartelijk dank voor uw bezoek aan de site! Laten we samen hopen dat deze over enige tijd niet meer nodig is.
    </p>
    <br />
    <br />
    <p>
      Met vriendelijke groet,
    </p>
    <br />
    <p>
      Marc van stalbrand.nl
    </p>
  </div>
{% endblock %}
