{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>Stalbrand</title>
    <link rel="stylesheet" href="{% static "css/application.css" %}" type="text/css" />
  </head>
  <body>
    <div id="header">
      <h1>Stalbrand</h1>
    </div>
    <div id="menu">
      <div class="menu-item">
        <a href="/">Home</a>
      </div>
      <div class="menu-item">
        <a href="/melding-maken">Melding maken</a>
      </div>
      <div class="menu-item">
        <a href="/over">Over stalbrand.nl</a>
      </div>
    </div>
    <div id="body">
      {% block body %} CONTENT HERE {% endblock %}
    </div>
    <div id="footer">
      <div class="left-column">
        <a class="mailto" href="mailto:stalbrand@xs4all.nl">E-mail: stalbrand@xs4all.nl</a>
      </div>
      <div class="right-column">
        <span class="copyright">&#169; {% now "Y" %}</span>
      </div>
    </div>
  </body>
</html>
